<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.eatit.mapper.warehouseMapper">
  	<!--창고 정보 리스트 조회 -->
  	<select id="getWarehouseListAll" resultType="WarehouseVO">
  		select * from warehouse
  	</select>
  	
  	<!--창고 정보 리스트 조회(main) -->
  	<select id="getWarehouseMainList" resultType="WarehouseVO">
  		SELECT warehouse_no,location_name,warehouse_name,category,m.name,use_status
		FROM warehouse w JOIN member m
		on w.admin_no=m.employee_no;
  	</select>
  	
  	<!--특정 창고 정보 조회-->
  	<select id="getWarehouseInfo" resultType="WarehouseVO">
  		select * from warehouse 
  		where warehouse_no = #{NO}
  	</select>
  </mapper>	  
  